<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jump1.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,2},{40,70}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{40,70}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>jump10.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{46,66}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{46,66}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>jump2.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,2},{36,70}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{36,70}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>jump3.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,2},{34,68}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,11},{34,68}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>jump4.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,44},{24,66}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,13},{24,66}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>jump5.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,40},{28,64}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,13},{28,64}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>jump6.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,2},{34,66}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,13},{34,66}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>jump7.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,2},{36,66}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,14},{36,66}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>jump8.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,2},{40,66}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{40,66}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>jump9.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{44,66}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{44,66}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>rob1.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{48,66}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{48,66}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>rob10.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{48,62}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,17},{48,62}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>rob11.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{62,52}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{62,52}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>rob12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,62}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{62,62}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>rob2.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,2},{36,64}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{36,64}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>rob3.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,2},{44,64}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{44,64}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>rob4.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{48,62}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,15},{48,62}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>rob5.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{64,54}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,15},{64,54}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>rob6.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{60,60}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>rob7.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{48,67}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{48,67}}</string>
                <key>sourceSize</key>
                <string>{64,79}</string>
            </dict>
            <key>rob8.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,2},{36,62}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,18},{36,62}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>rob9.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,2},{42,64}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,16},{42,64}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero.png</string>
            <key>size</key>
            <string>{994,72}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:30dd7384b4073686a12fb4dd3bbae478:41d4d3079ea207f430d49b1c27972bdc:e44e28a7f983377b8bb0c97d886e5bb7$</string>
            <key>textureFileName</key>
            <string>hero.png</string>
        </dict>
    </dict>
</plist>
